        <!-- Footer -->
        <footer class="container">       
            <div class="left-footer">    
                <a href="mailto:{{ site.author.email }}" class="email-address"><i class="fa fa-envelope-o fa-fw"></i> {{ site.author.email }}</a>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://facebook.com/{{ site.author.facebook }}" target="_blank" class="btn social-icon" title="Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://uk.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" class="btn social-icon" title="LinkedIn"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.author.github }}" target="_blank" class="btn social-icon" title="GitHub"><i class="fa fa-github fa-fw"></i></a>
                    </li>                  
                    <li>
                        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="btn social-icon" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/{{ site.author.instagram }}" target="_blank" class="btn social-icon" title="Instagram"><i class="fa fa-instagram fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank" class="btn social-icon" title="StackOverflow"><i class="fa fa-stack-overflow fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="right-footer">
                <p>Last updated January 2016 <i class="fa fa-calendar fa-fw"></i></p>
                <p>Full code available on <a href="https://github.com/CameronD17/camerond17.github.io" target="_blank" title="GitHub repo">GitHub </a><i class="fa fa-github fa-fw"></i></p>
                <p>Photography by <a href="http://samstevensphotography.weebly.com/" target="_blank" title="Sam Stevens' website (photographer)">Sam Stevens </a><i class="fa fa-camera-retro fa-fw"></i></p>
            </div>
        </footer>

        <!--Scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
        {% if page.custom_js %}{% for js_file in page.custom_js %}<script src="/assets/js/{{ js_file }}.js"></script>{% endfor %}{% endif %}