---
layout:     blog
custom_js:  blog
title:      Archive
---
{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for post in site.posts %}
    {% assign thiswords = post.content | number_of_words %}
    {% assign totalwords = totalwords | plus: thiswords %}
{% endfor %}

{% assign postcount = site.posts | size %}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 intro-bg">
                    <h1>{{ page.title }}</h1>
                    <p>My name is Cameron and I'm a software developer currently living in Edinburgh.</p>
                    <p>I've written a total of {{ postcount }} posts on this site, consisting of {{ totalwords }} words (an average of {{ totalwords | divided_by: postcount }} words per article). The most recent post, <a href="{{ site.posts.first.url | prepend: site.url }}">{{ site.posts.first.title }}</a>, can be read below; the full sorted archive of posts is available at the bottom of this page.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="blog">

    <section id="about" class="content-section ">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                {% for post in site.posts limit:1 %}
                    <h2>Latest Post - <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
                    <h4>{{ post.date | date: "%d %B %Y" }} | 
                    {% for tag in post.tags %}
                        <a href="#blog-archive" class="page-scroll" data-toggle="collapse" data-target="#{{ tag }}" aria-expanded="false" aria-controls="{{ tag }}">{{tag}}</a>
                        {% unless post.tags.size == 1 %}{% if forloop.rindex0 == 1 %} &{% elsif forloop.last == false %}, {% endif %}{% endunless %}
                    {% endfor %} | <abbr title="{{ post.content | number_of_words }} words">{{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min</abbr></h4>
                    {{ post.excerpt }} 
                    <p class="post-read-more">
                        <a class="read-more" data-toggle="collapse" data-target="#post-expand" aria-expanded="false" aria-controls="post-expand"><span>Read more&nbsp;</span><i class="fa fa-toggle-down"></i></a>
                    </p>
                    <div class="collapse" id="post-expand">
                        {{ post.content | remove: post.excerpt }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Archive Section -->
    <section id="blog-archive" class="content-section inverted text-center">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Blog Archive</h1>
                
                <div class="col-lg-6 archive-divider-left">
                <h2>By Date</h2>
                {% assign counter = 0 %}
                {% for post in site.posts %}
                    {% assign currentdate = post.date | date: "%B%Y" %}
                    {% assign prevdate = post.previous.date | date: "%B%Y" %}
                    {% assign counter = counter | plus: 1 %}
                    {% if currentdate != prevdate %}
                        <h4 class="archive-title"><a class="read-more" data-toggle="collapse" data-target="#{{ currentdate }}-read-more" aria-expanded="false" aria-controls="{{ currentdate }}-read-more">{{ currentdate | date: "%B %Y" }} ({{ counter }})</a></h4>
                        <div class="collapse archive-section" id="{{ currentdate }}-read-more">
                            <table class="table blog-posts">
                                {% assign offby = forloop.index | minus: counter %}
                                {% for postdate in site.posts limit: counter offset: offby %}
                                <tr class="post-teaser">
                                    <td class="post-title"><a href="{{ postdate.url | prepend: site.url }}"><abbr title="{{ postdate.content | number_of_words | divided_by: 200 | plus: 1 }} min read - {{ postdate.content | number_of_words }} words">{{ postdate.title }}</abbr></a></td>
                                    <td class="blog-teaser-post-date">{{ postdate.date | date: "%a, ~%dth" | replace: '~0','' | replace: '~','' | replace: '1th','1st' | replace: '2th','2nd' | replace: '3th','3rd' | replace: '11st','11th' | replace: '12nd','12th' | replace: '13rd','13th' }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% assign counter = 0 %}
                    {% endif %}
                {% endfor %}
                </div>
                <div class="col-lg-6 archive-divider-right">
                <h2>By Category</h2>
                {% for tag in sortedtags %}
                    <h4 class="archive-title"><a class="read-more" data-toggle="collapse" data-target="#{{ tag }}" aria-expanded="false" aria-controls="{{ tag }}">{{ tag }} ({{ site.tags[tag] | size}})</a></h4>
                    <div id="{{tag}}" class="collapse archive-section">
                        <table class="table blog-posts">
                            {% for post in site.tags[tag] %}
                                <tr class="post-teaser">
                                    <td class="post-title"><a href="{{ post.url | prepend: site.url }}"><abbr title="{{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min read - {{ post.content | number_of_words }} words">{{ post.title }}</abbr></a></td>
                                    <td class="blog-teaser-post-date">{{ post.date | date: "%d %b %Y" }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>