---
layout:     blog
title:      Cameron Doyle - Blog
summary:    Thanks for stopping by. My name is Cameron Doyle and I'm a 23-year-old software developer from the North-East of England, currently based in Edinburgh, Scotland. Right now, I work for CGI Group as a Performance Tester.
---
{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

<div class="blog">

    <section id="about" class="content-section ">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Recent Post</h1>
                {% for post in site.posts limit:1 %}
                    <h2><a href="{{ post.url | prepend: site.url }}">#{{ post.number }} - {{ post.title }}</a></h2>
                    <h4>{{ post.date | date: "%d %B %Y" }} | 
                    {% for tag in sortedtags %}
                        {% if post.tags contains tag %}
                        <a href="#">{{tag}}{% if forloop.last == false %},{% endif %}</a>
                        {% endif %}
                    {% endfor %}</h4>
                    <p>{{ post.content }}</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Archive Section -->
    <section id="blog" class="content-section inverted text-center">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Blog Archive</h1>
                
                <ul class="nav nav-pills nav-justified skills-tab-collection" id="skills-tabs">
                    <li class="active"><a href="#archive-by-date" data-toggle="tab">Sort By Date</a></li>
                    <li><a href="#archive-by-category" data-toggle="tab">Sort By Category</a></li>
                </ul>
                <div class="tab-content skills-content">
                    <div class="tab-pane fade in active" id="archive-by-date">                        
                        {% for post in site.posts %}
                            {% assign currentdate = post.date | date: "%B %Y" %}
                            {% if currentdate != date %}
                                {% unless forloop.first %}</table>{% endunless %}
                                <h4 class="archive-title">{{ currentdate }}</h4>
                                <table class="table blog-posts">
                                {% assign date = currentdate %}
                            {% endif %}
                            <tr class="post-teaser">
                                <td class="post-title"><a href="{{ post.url | prepend: site.url }}">#{{ post.number }} - {{ post.title }}</a></td>
                                <td class="post-date">{{ post.date | date: "%d %B %Y" }}</td>
                            </tr>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                        {% endfor %}            
                    </div>

                    <div class="tab-pane fade" id="archive-by-category">
                        {% for tag in sortedtags %}
                            <h4 class="archive-title"><a data-toggle="collapse" data-target="#{{ tag }}-read-more" aria-expanded="false" aria-controls="{{ tag }}-read-more">{{ tag }}</a></h4>
                            <div class="collapse" id="{{ tag }}-read-more">
                                <table class="table blog-posts">
                                    {% for post in site.tags[tag] %}
                                    <tr class="post-teaser">
                                        <td class="post-title"><a href="{{ post.url | prepend: site.url }}">#{{ post.number }} - {{ post.title }}</a></td>
                                        <td class="post-date">{{ post.date | date: "%d %B %Y" }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>  
            </div>
        </div>
    </section>
</div>