<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars fa-lg"></i>
                </button>
                <a class="navbar-brand navbar-fixed-top page-scroll" href="#page-top">
                    <span class="light">{{ page.title }}</span>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-main-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}"><i class="fa fa-home fa-fw"></i> camerondoyle.co.uk</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{{ 'blog/' | prepend: site.baseurl }}">Blog Archive <i class="fa fa-rss fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-bg">
                        <p class="intro-text">
                            {{ page.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-content">
        <div class="wrapper">
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="post-content" itemprop="articleBody">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>


