---
layout:     blog
summary:    Thanks for stopping by. My name is Cameron Doyle and I'm a 23-year-old software developer from the North-East of England, currently based in Edinburgh, Scotland. Right now, I work for CGI Group as a Performance Tester.
---

{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 intro-bg">
                    <h1>
                        {{ page.title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="content-section">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1">
            {% if site.tags[page.tag] %}
                {% for post in site.tags[page.tag] %}
                    {% assign currentdate = post.date | date: "%B %Y" %}
                    {% if currentdate != date %}
                        {% unless forloop.first %}</table>{% endunless %}
                        <h4 class="archive-title">{{ currentdate }}</h4>
                        <table class="table blog-posts">
                        {% assign date = currentdate %}
                    {% endif %}
                    <tr class="post-teaser">
                        <td class="post-title"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></td>
                        <td class="post-date">{{ post.date | date: "%d %B %Y" }}</td>
                    </tr>
                    {% if forloop.last %}
                        </table>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1>No posts found with the tag {{ page.tag }}!</h1>
            {% endif %}
        </div>
    </div>
</section>

<section class="content-section inverted">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Other Categories</h1>
            <table class="table blog-posts">
            {% for tag in sortedtags %}
                <tr class="post-teaser">
                    <td class="post-title"><a href="{{ site.url }}/blog/category/{{tag}}">{{tag}}</a></td>
                    <td class="post-date"><h4>{{ tag.size }} posts</h4></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</section>